<h1>Show Track</h1>
<h2> posted by: <%= track.createdBy.username %> </h2>
<h3><%= track.artist %> - <%= track.title %></h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= track.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h3><%= track.blip %></h3>

<%# //IF THE USER IS LOGGED IN AND THEY'VE ADDED THE TRACK, THEY CAN EDIT IT. %>
<% if(locals.isLoggedIn && track.belongsTo(user)) { %>
  <a href="/tracks/<%= track.id %>/edit">Edit</a>
  <form method="POST" action="/tracks/<%= track.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete</button>
  </form>
<% } %>

<% track.comments.forEach((comment) => { %>
  <p><%= comment.content %></p>
  <small><%= comment.createdBy.username %></small>

  <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
    <form method="POST" action="/tracks/<%= track.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>
<% }) %>

<% if(locals.isLoggedIn) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/tracks/<%= track.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </section>
<% } %>
