<h1>Show Track</h1>

<h2><%= track.artist %> - <%= track.title %></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= track.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h3><%= track.blip %></h3>


<a href="/tracks/<%= track.id %>/edit" class="button button-primary">Edit</a>

<form method="POST" action="/tracks/<%= track.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
