
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>

    <div class="col-6">

      <h1 class="text-center track-header"><%= track.artist %> - <%= track.title %></h4>
        <a href="/users/<%= track.createdBy.id %>">
        <h2 class="text-center track-posted"> posted by: <%= track.createdBy.username %></h2>
      </a>
        <h2 class="text-center track-posted-barcode"> <%= track.createdBy.username %> </h2>

        <% if(locals.isLoggedIn && track.belongsTo(currentUser)) { %>
          <a href="/tracks/<%= track.id %>/edit">Edit Track</a>
          <form method="POST" action="/tracks/<%= track.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-light">Remove post</button>
          </form>
          <% } %>
          <div class="embed">
            <iframe width="560" height="500" src="https://www.youtube.com/embed/<%= track.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p class="text-center"><%= track.blip %></p>
          </div>


          <% if(locals.isLoggedIn) { %>
            <section class="comments">
            <form method="POST" action="/tracks/<%= track.id %>/comments">
            <textarea class="form-control" rows="3" name="content" id="content" placeholder="Comment"></textarea>
            <button class="btn btn-primary btn-block">Leave a comment</button>
            </form>
            </section>
            <% } %>

            <% track.comments.forEach((comment) => { %>

              <small class="user-color"><%= comment.createdBy.username %> said:- </small>

              <p class="comment-color"><%= comment.content %></p>

              <% if(locals.isLoggedIn && comment.belongsTo(currentUser)) { %>
                <form method="POST" action="/tracks/<%= track.id %>/comments/<%= comment.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-light">Delete comment</button>
                </form>
                <% } %>
                <% }) %>

              </div>
              <div class="col-3">
              </div>
            </div>
          </div>
