<h1>Show Track</h1>


<h2><%= track.artist %> - <%= track.title %></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= track.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h3><%= track.blip %></h3>


<a href="/tracks/<%= track.id %>/edit" class="button button-primary">Edit</a>

<form method="POST" action="/tracks/<%= track.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>


<% if(locals.isLoggedIn) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/hotels/<%= hotel.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </section>
<% } %>



<section>
  <h4>Comments</h4>
  <% hotel.comments.forEach((comment) => { %>
    <p><%= comment.content %></p>
    <small><%= comment.createdBy.username %></small>

    <% if(locals.isLoggedIn) { %>
      <form method="POST" action="/hotels/<%= hotel.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>
</section>
